<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://code.jquery.com/jquery-1.10.2.js" charset="utf-8"></script>
    <script src="search.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <input type="text" id = "search" placeholder = "Search...">
    <button type="button" id="bt">Submit</button>
  </body>
</html>

<script type="text/javascript">


var headlines = [];
var sources = [];



function check(req) {
  var parse_req = req.split(" ").join("+");
  console.log(parse_req);


   $.ajax({
          url: 'https://api.rss2json.com/v1/api.json',
          method: 'GET',
          dataType: 'json',
          data: {
              rss_url: 'https://news.google.com/news/section?cf=all&output=rss&ned=us&q'+'='+ parse_req,
              api_key: 'vadnjhlhlu6if4dxymwvhaw6sdftthlza3pyzgza', // put your api key here
              count:25
          }
  }).done(function (response) {
      if(response.status != 'ok'){ throw response.message; }

      console.log('====== ' + response.feed.title + ' ======');

      for(var i in response.items){
          var item = response.items[i];
          console.log(item.title.substring(0, item.title.indexOf('-') - 1));

          headlines.push(item.title.substring(0, item.title.indexOf('-') - 1));;
          var rep_pre = item.title.substring(item.title.indexOf('-') + 1, item.title.length);
          var rep = rep_pre.trim();
          sources.push(rep);
        }

        console.log(headlines);
        var arr = JSON.stringify(headlines);
        console.log(arr);

        var data = "arr="+arr;

        $.post('/', data);
    });
}


$('#bt').click( function() {

  var str = $('#search').val();

  headlines.push(str);



  check(str);
  console.log('ok');


});
</script>
